<div class="container mt-4">
    <h2 class="text-center text-danger mb-4 text-uppercase">Danh Sách Siêu Xe</h2>

    <div class="card shadow border-0 rounded-3">
        <div class="card-body">
            <table class="table table-bordered table-hover align-middle text-center">
                <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Hình Ảnh</th>
                    <th>Tên Xe</th>
                    <th>Hãng Xe</th>
                    <th>Công Suất (HP)</th>
                    <th>Tốc Độ (km/h)</th>
                    <th>Giá (USD)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td><img src="https://cdn.ferrari.com/cms/network/media/img/resize/61fa730a1dcf7d000e016c4b-ferrari-sf90-stradale-thumb" alt="Ferrari SF90" width="100" class="rounded"></td>
                    <td>SF90 Stradale</td>
                    <td>Ferrari</td>
                    <td>986</td>
                    <td>340</td>
                    <td>$524,000</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/news/2021/03_16_aventador_svj_xago/cover_m.jpg" alt="Lamborghini Aventador" width="100" class="rounded"></td>
                    <td>Aventador SVJ</td>
                    <td>Lamborghini</td>
                    <td>759</td>
                    <td>350</td>
                    <td>$517,770</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><img src="https://upload.wikimedia.org/wikipedia/commons/3/3d/Bugatti_Chiron_%2840531926934%29.jpg" alt="Bugatti Chiron" width="100" class="rounded"></td>
                    <td>Chiron</td>
                    <td>Bugatti</td>
                    <td>1500</td>
                    <td>420</td>
                    <td>$3,000,000</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/McLaren_765LT_Genf_2020_1Y7A5197.jpg" alt="McLaren 765LT" width="100" class="rounded"></td>
                    <td>765LT</td>
                    <td>McLaren</td>
                    <td>755</td>
                    <td>330</td>
                    <td>$358,000</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
